<h1> Hi, you are in the root page</h1>

<p><%= link_to "Redirect to previous page", previous_page_path %></p>
<p><%= link_to "Redirect to dynamic link", dynamic_link_path(['juan', 'Pedro', 'Joel', 'José'].sample) %></p>
