// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #e65ea3;

h1{
  text-align: center;
  margin-bottom: 60px;
  color: $primary-color;
}

.card .actions{
  margin-top: 50px;
  text-align: center;

  & i{
    color: $primary-color;
    font-size: 1.5em;

    &:hover{
      color: black;
    }
  }
}

#products-container .card-img-top{
  height: 270px;
}

#carouselExampleIndicators{
  margin: 0px 35%;
}

#add-product-btn{
  background-color: white;
  color: $primary-color;
  height: 70px;
  width: 70px;
  font-size: 2em;
  border-radius: 100%;
  box-shadow:  1px 2px 10px  rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 2px 10px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 1px 2px 10px  rgba(0,0,0,0.6);
  -o-box-shadow: 1px 2px 10px  rgba(0,0,0,0.6);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 40px;

  &:hover{
    background-color: #f2f2f2;
  }
}

form input[type="submit"]{
  border-radius: 20px;
  background-color: $primary-color;
  color: white;

  &:hover{
    background-color: #cf649a;
  }
}

#product{
  h3,
  p{
    margin-bottom: 30px;
  }

  p{
    font-size: 1.2em;
  }

  span{
    font-weight: bold;
  }

  span i{
    color: $primary-color;
  }

  .review-container{
    margin-top: 50px;
  }
}



#product-reviews{
  .rated{
    margin: 0 15px;
  }

  .pagination *{
    margin-left: 20px;
  }
}

@media (max-width: 600px) { 
  .card{
    margin-top: 50px;
  }
}

.alert.alert-info{
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}








