<% unless @comments.empty? %>
  <h4>Al reviews</h4>
  <div id="product-reviews">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
    <%= will_paginate @comments %>
  </div>
<% end %>