<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="products-container" class="container-fluid">
  <div class="row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to new_product_path do %>
    <button id="add-product-btn">+</button>
  <% end %>
<% end %>
